@import "node_modules/normalize-scss/sass/normalize/_import-now.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/_images.scss";
@import "node_modules/bootstrap/scss/utilities/_text.scss";
/*
@import "node_modules/bootstrap/scss/utilities/_embed.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";*/
//@include media-breakpoint-between(xs, sm) {}


@mixin xlink {
	&, &:link, &:active, &:hover, &:visited {@content;}
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content;}
	&:-moz-placeholder           {@content;}
	&::-moz-placeholder          {@content;}
	&:-ms-input-placeholder      {@content;}
}
/*!
* 
* 
* By @bernethe
* 
* 
*/
body, html {
	min-height: 100vh;
	scroll-behavior: smooth;
    background-color: #fff;
}
