@import "node_modules/normalize-scss/sass/normalize/_import-now.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/_images.scss";
@import "node_modules/bootstrap/scss/utilities/_text.scss";
/*
@import "node_modules/bootstrap/scss/utilities/_embed.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";*/
//@include media-breakpoint-between(xs, sm) {}

$col1: #414883;

@mixin xlink {
	&, &:link, &:active, &:hover, &:visited {@content;}
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content;}
	&:-moz-placeholder           {@content;}
	&::-moz-placeholder          {@content;}
	&:-ms-input-placeholder      {@content;}
}
/*!
* 
* 
* By @bernethe
* 
* 
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');
body, html {
	font-family: 'IBM Plex Sans', sans-serif;
	min-height: 100vh;
	scroll-behavior: smooth;
	background-color: #fff;
	color: $col1;
}
header {
	background-image: url('/img/bg-curv.svg');
	background-size: contain;
	background-repeat: repeat-x;
	background-position: center center;
	min-height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	& a {
		display: inline-block;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
hr {
	border: none;
	border-top: 1px solid $col1;
}
#botonera {
	&, & li {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	& li {
		cursor: pointer;
		padding: .5em;
		margin: .5em;
		background-color: $col1;
		color: #fff;
		font-weight: bold;
	}
}
#page_02 {
	a {
		@include xlink {
			color: #fff;
			background-color: $col1;
			text-decoration: none;
			display: inline-block;
			font-weight: bold;
			cursor: pointer;
			padding: .5em;
			margin: .5em;
		}
	}
}
table {
	width: 100%;
	background-color: #fff;
	border-collapse: collapses;
	border-spacing: 0;

	& th, & td {
		padding: .75em;
	}
	& thead {
		& tr {
			& th {
				font-size: .8em;
			}
		}
	}
	& tbody {
		& tr {
			& td {
				text-align: center;

				&:first-child {
					text-align: left;
					padding-left: 2em;
					background-image: url('/img/ico-hosp.svg');
					background-size: 1.25em 1.25em;
					background-repeat: no-repeat;
					background-position: left .25em center;
				}
			}
			&:nth-child(odd) {
				background-color: rgba($col1,.1);
			}
		}
	}

}
#dispon_txt {
	& strong {
		font-size: 2em;
		margin-left: .25em;
	}
}